.main{
  padding: 0.5rem;
}

.menubar a{
  padding-right: 2.5rem;
}

.menubar a:hover{
  color: gray;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 13rem;
  height: 13rem;
}


.about img{
  width: 10rem;
  height: auto;
  padding: 0.5rem;
}




.boxtext{
  color: white;
  letter-spacing: 0.1rem;
  padding-top: 1rem;

}

.boxes{
  width: 15vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxtext:hover{
  color: gray;
}



.folder{
  padding: 2rem;
}

.folders{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menubar{
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  margin: -1rem;
  padding: 0.8rem;
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
